<div class="col-lg-{{$ctrl.widget.width | colWidth}}">
    <div class="tile" ng-if="$ctrl.type=='visualization'">
        <div class="t-header widget">
            <div class="th-title">
                <p class="hidden-print">
                    <span ng-hide="$ctrl.canViewQuery">{{$ctrl.query.name}}</span>
                    <query-link query="$ctrl.query" visualization="$ctrl.widget.visualization" ng-show="$ctrl.canViewQuery"></query-link>
                    <small><visualization-name visualization="$ctrl.widget.visualization"/></small>
                </p>
                <p class="visible-print">
                  {{$ctrl.query.name}}
                  <visualization-name visualization="$ctrl.widget.visualization"/>
                </p>
                <div class="text-muted" ng-bind-html="$ctrl.query.description | markdown"></div>
            </div>
          <div class="actions dropdown" uib-dropdown ng-if="!$ctrl.public">
            <a data-toggle="dropdown" uib-dropdown-toggle><i class="zmdi zmdi-more"></i></a>

            <ul class="dropdown-menu pull-right" uib-dropdown-menu style="z-index:1000000">
              <li ng-class="{'disabled': $ctrl.queryResult.isEmpty()}"><a ng-href="{{$ctrl.queryResult.getLink($ctrl.query.id, 'csv')}}" download="{{$ctrl.queryResult.getName($ctrl.query.name, 'csv')}}" target="_self">Download as CSV File</a></li>
              <li ng-class="{'disabled': $ctrl.queryResult.isEmpty()}"><a ng-href="{{$ctrl.queryResult.getLink($ctrl.query.id, 'xlsx')}}" download="{{$ctrl.queryResult.getName($ctrl.query.name, 'xlsx')}}" target="_self">Download as Excel File</a></li>
              <li><a ng-href="queries/{{$ctrl.query.id}}#{{$ctrl.widget.visualization.id}}" ng-show="$ctrl.canViewQuery">View Query</a></li>
              <li><a ng-show="$ctrl.dashboard.canEdit()" ng-click="$ctrl.deleteWidget()">Remove From Dashboard</a></li>
            </ul>
          </div>
        </div>

        <parameters parameters="$ctrl.localParametersDefs()" dashboard="$ctrl.dashboard" widget="$ctrl.widget" ng-show></parameters>

        <div ng-switch="$ctrl.queryResult.getStatus()">
          <div ng-switch-when="failed">
            <div class="alert alert-danger m-5" ng-show="$ctrl.queryResult.getError()">Error running query: <strong>{{$ctrl.queryResult.getError()}}</strong></div>
          </div>
          <div ng-switch-when="done">
              <visualization-renderer visualization="$ctrl.widget.visualization" query-result="$ctrl.queryResult" class="t-body"></visualization-renderer>
          </div>
          <div ng-switch-default class="text-center">
            <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-5x"></i>
          </div>
        </div>

        <div class="p-5 clearfix" style="line-height:28px;">
            <span class="small hidden-print">Updated: <span am-time-ago="$ctrl.queryResult.getUpdatedAt()"></span></span>
            <span class="visible-print">
              Updated: {{$ctrl.queryResult.getUpdatedAt() | dateTime}}
            </span>
            <button class="btn btn-sm btn-default pull-right hidden-print" ng-click="$ctrl.reload(true)" ng-if="!$ctrl.public"><i class="zmdi zmdi-refresh"></i></button>
        </div>
    </div>

  <div class="tile" ng-if="$ctrl.type=='restricted'">
    <div class="t-body">
      <div class="text-center">
        <h1><span class="zmdi zmdi-lock"></span></h1>
        <p class="text-muted">
          This widget requires access to a data source you don't have access to.
        </p>
      </div>
    </div>
  </div>

  <div class="tile" ng-hide="$ctrl.widget.width === 0" ng-if="$ctrl.type=='textbox'">
    <div class="t-body">
      <div class="dropdown" uib-dropdown ng-if="!$ctrl.public && $ctrl.dashboard.canEdit()">
        <div class="dropdown-header">
          <a data-toggle="dropdown" uib-dropdown-toggle class="actions"><i class="zmdi zmdi-more"></i></a>
        </div>

        <ul class="dropdown-menu pull-right" uib-dropdown-menu style="z-index:1000000">
          <li><a ng-show="$ctrl.dashboard.canEdit()" ng-click="$ctrl.editTextBox()">Edit</a></li>
          <li><a ng-show="$ctrl.dashboard.canEdit()" ng-click="$ctrl.deleteWidget()">Remove From Dashboard</a></li>
        </ul>
      </div>
      <p ng-bind-html="$ctrl.widget.text | markdown" class="p-5"></p>
    </div>
  </div>
</div>
