<div class="col-lg-12 m-t-10 p-l-5 p-r-5">
  <div class="form-group">
    <label class="control-label">Select from column <b>{{ options.displayingColumnName }}</b></label>

    <ui-select name="form-control" required on-select="selectValue()" ng-model="options.selectedValue">
      <ui-select-match placeholder="Choose value..." allow-clear="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="value in options.resultSet | filter: $select.search">
        <span ng-bind-html="value | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
