<div class="col-lg-12 p-0 m-t-20">
  <div class="form-group">
    <label class="control-label">Column for using in filter:</label>
    <ui-select name="form-control" ng-model="options.dataColumnName" on-select="resetDropdownValue()">
      <ui-select-match placeholder="Choose column..." allow-clear="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="name in queryResult.getColumnNames() | filter: $select.search">
        <span ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label class="control-label">Column for displaying dropdown data (can be the same):</label>
    <ui-select name="form-control" ng-model="options.displayingColumnName" on-select="resetDropdownValue()">
      <ui-select-match placeholder="Choose column..." allow-clear="true">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="name in queryResult.getColumnNames() | filter: $select.search">
        <span ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group">
    <label class="control-label">Parameter name:</label>
    <input type="text" class="form-control" ng-model="options.paramName">
  </div>
</div>
