{% extends "layouts/signed_out.html" %}
{% block title %}Login | Navigator Dashboard{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% if show_google_openid %}
  <div class="row">
    <a href="{{ google_auth_url }}"><img src="/images/google_login.png" class="login-button"/></a>
  </div>

  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>
  {% endif %}

  {% if show_saml_login %}
  <div class="row">
    <a href="/saml/login">SAML Login</a>
  </div>

  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>
  {% endif %}

  {% if show_remote_user_login %}
  <div class="row">
    <a href="/remote_user/login">Remote User Login</a>
  </div>

  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">or</span>
  </div>
  {% endif %}

  <form role="form" method="post" name="login">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" name="email" value="{{email}}">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
    <div class="checkbox pull-right">
      <label>
        <input type="checkbox" name="remember">
        Remember me </label>
    </div>

    <button type="submit" class="btn btn btn-primary">
      Log In
    </button>
  </form>
  <hr>
  <a href="{{ url_for("redash.forgot_password", org_slug=org_slug) }}">I forgot my password</a>
{% endblock %}
